* {
    font-family: "roboto", sans-serif;
    margin: 0px;
  }
body {
    margin-top: 0;
}
:root {
    --main-color: #F3F3F3;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    margin-left: 0;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    text-decoration: none;
    padding: 10px;

}
.nav {
    position: absolute;
    left: 25px;
    top: 20px;
    color: #000;
    text-decoration: none
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 17px;
    background-color: #eaeaea;
    margin: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.intro {
    text-align: center;
    background-color: var(--main-color);
    padding: 0px 10px 70px;
    h1 {
      font-weight: 900;
      font-size: 24px;
      padding: 40px 0px 10px;
      max-width: 250px;
      margin: auto;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      padding-bottom: 40px;
    }
  }
.btn {
    margin: auto;
    width: 218px;
    padding: 15px 0px;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    border: none;
    border-radius: 30px;
    a {
        text-decoration: none;
    }
    span {
        font-weight: bold;
        color: white;
        font-size: 16px;
    }
    &:hover {
        background: linear-gradient(var(--secondary-color), var(--secondary-color), var(--primary-color));
        transition: 0.2s;
        cursor: pointer;
    }
}
.main-titles {
    font-weight: 900;
    font-size: 24px;
    padding: 50px 0px 20px;
}
aside {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
    .bloc-guide {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      .guide {
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 260px;
        max-width: 310px;
        background-color: var(--main-color);
        padding: 25px 0px;
        border-radius: 20px;
        margin: 5px 0px 20px 10px;
        box-shadow: 0px 3px 15px -10px;
        cursor: pointer;
        span,
        p {
          font-weight: 500;
          font-size: 16px;
        }
        .round {
          color: white;
          padding: 3px 8px;
          background-color: #9356dc;
          border-radius: 100%;
          font-size: 14px;
          font-weight: 400;
          margin: 0px 15px 0px -10px;
        }
        i {
          color: gray;
          padding-right: 20px;
        }
        &:hover {
          i {
            color: #9356dc;
          }
        }
      }
    }
  }

#restaurants {
    background-color: var(--main-color);
}