

.heart-container {
  display: flex;

}

.fa-heart {
  cursor: pointer;
  transition: color 2s;
}

.heart-full {
  display: none;
  color: transparent;
}

.fa-heart:hover {
  color: var(--primary-color);
}

.fa-heart:hover::before {
  content: '\f004';
  color: transparent;
  color: var(--primary-color);
  animation: fill 2s forwards;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
