.img-menu {
  z-index: -1;
  position: relative;
  img {
    object-fit: cover;
    object-position: 50% 45%;
    width: 100%;
    max-height: 240px;
  }
}

.menu {
  margin-top: -40px;
  padding-bottom: 80px;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--main-color);
  .bloc-menu {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 90%;
    margin: auto;
    .title-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      width: 100%;
      h1 {
        font-family: "Shrikhand", sans-serif;
        font-size: 27px;
        font-weight: 500;
      }
      .fa-heart {
        position: absolute;
        right: 5%;
      }
    }
  }
}
.order {
  h2{
      font-weight: 400;
      font-size: 16px;
      border-bottom: 3.5px solid var(--tertiary-color);
      width: 40px;
      padding-bottom: 5px;
      margin-bottom: 15px;
  }
  .menu-card {
      width: 100%;
      background-color: #fff;
      padding: 0px;
      border-radius: 15px;
      margin: 5px 0px 20px 0px;
      box-shadow: 0px 4px 15px -10px;
      .menu-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px;
          gap: 5px;
          margin: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  } 
}
.menu-item {
display: flex;
overflow: hidden;
text-overflow: ellipsis;
}

.menu-item .item-price {
font-family: "Roboto";
font-style: normal;
font-weight: 900;
font-size: 15px;
margin-left: auto;
display: flex;
align-items: center;
margin-right: 5px;
}

.container-check {
display: flex;
margin-left: auto;
transform: translateX(60px);
transition: all 0.5s ease;
}

.menu-card:hover .container-check {
transform: translateX(0);
}

.menu-card:hover .menu-description > * {
width: calc(100% - 60px);
}

.item-check {
background: #99e2d0;
border-radius: 0px 15px 15px 0px;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}

.container-check .fa-solid {
background-color: white;
border-radius: 50%;
color: #99e2d0;
padding: 2px;
}

.menu-container section {
animation: apparition 1s ease-out;
animation-fill-mode: both;
}

@keyframes apparition {
from {
  opacity: 0;
  transform: translateX(-800px);
}

to {
  opacity: 1;
  transform: translateX(0px);
}
}

/****** Media queries ***********/
/* Medium devices and desktop (768px) */
@media (min-width: 768px) {
.menu {
  margin-left: 10%;
  margin-right: 10%;
  .bloc-menu {
      .title-menu {
        justify-content: center;
      .fa-heart {
        position: absolute;
        right: auto;
      }
    }
  }
}
.order {
  margin-left: 20%;
  margin-right: 20%;
}
}